@font-face {
  font-family: 'Gotham';
  src: url('./fonts/gotham-trial.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/gotham-trial.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gotham', sans-serif;
}
