body    { font-family: 'Gotham Narrow Bold', sans-serif; }
h1      { font-family: 'Proxima Nova Light Italic', sans-serif; }
.lead   { font-family: 'GT Walsheim Pro Medium', sans-serif; }
.quote  { font-family: 'Helvetica Neue LT Std', sans-serif; }

code    { font-family: 'Source Code Pro Regular', monospace; }
