@font-face {
  font-family: 'Source Sans 3';
  src: url('./fonts/source-sans-3-regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('./fonts/source-sans-3-700.woff2') format('woff2');
  font-weight: 700;
}

body { font-family: 'Source Sans 3', sans-serif; }
